html {
  height: 100%;
  width:100%;
}

body {
  background: url(../images/marrakech.jpeg) no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: bottom;
}

.container {
  margin: 0 auto;
  width: 95%;
}
.col.s12 {
  text-align: right;
  margin-top: 1rem;
}

.col.s12 > a > * {
  display: inline;
}

a {
  color:rgb(0, 0, 0);
  margin: 0
}

a:hover {
  color:rgb(237, 21, 21);
  text-decoration: none
}

.container.main{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem 1.5rem .5rem 1.5rem;
  margin-bottom: 2rem;
  background-color:rgba(225, 225, 225, 0.3);
}

.container.main > div {
  margin-bottom: 1rem
}

.container.main > div > * {
  display: inline;
}
