html {
  height: 100%;
  width:100%;
}

body {
  background: url(../images/flight.jpeg) no-repeat;
  background-size:cover;
  color: white;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.col.s12 {
  text-align: right;
  margin-top: 1rem;
}

.col.s12 > a > * {
  display: inline;
  text-shadow: 0 0 4px rgb(0,0,0);
}

a {
  color:rgb(255, 255, 255);
  margin: 0
}

a:hover {
  color:rgb(237, 21, 21);
  text-decoration: none;
}

.container.valign.input {
  background-color: rgba(68, 68, 68, 0.8);
  position: absolute;
  left: 50%;
  top: 45%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2rem 6rem;
  border-radius: .35rem;
  width: 40rem;
}

.left-align {
  margin: 0 0 1rem 0;
  letter-spacing: .20rem
}

#searchBox:focus {
  border-bottom: .5px solid rgb(255, 0, 0);
  box-shadow: 0 .5px 0 0 rgb(255, 0, 0);
}

#submit {
  background-color: rgba(225, 225, 225, 0.6);
  border: .5px solid rgb(234, 234, 234);
  width: 100%
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 2.25rem .25rem 0;
  font-size: 14px;
  text-shadow: 0 0 8px rgb(0,0,0);
}

footer > a {
  color: rgb(237, 21, 21);
  text-shadow: 0 0 5px rgb(0, 0, 0);
  letter-spacing: .125rem;
}
