html {
  height: 100%;
  width:100%;
}

body {
  background: url(../images/asia.jpeg) no-repeat;
  background-size:cover;
}

.container {
  margin: 0 auto;
  width: 95%;
}

header {
  text-align: right;
  margin-top: 1rem;
  padding: 0;
}

header > a > * {
  display: inline;
}

a {
  color:rgb(0, 0, 0);
  margin: 0;
}

a:hover {
  color:rgb(237, 21, 21);
  text-decoration: none;
}

.row {
  margin-bottom: 0;
}

.tabs {
  background-color: transparent;
  margin:2em 0 1em 0;
}

.tabs .tab a {
  color:rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 475;
}

.tabs .tab a:hover {
  color:rgb(255, 0, 0);
}

.tabs .indicator {
  background-color:rgb(255, 0, 0);
}

.col.s12.section {
  position: relative;
  background-color:rgba(225, 225, 225, 0.6);
  padding:2em;
  max-height: 70vh;
  min-height: 70vh;
  overflow-y: scroll;
}

#shortName {
  margin-top: 2rem;
  margin: 0 0 0 0;
  color: rgb(183, 40, 40);
}

#capital {
  margin: 5px 0 20px 0px;
}

#flag {
  max-height: 6rem;
}

#localTD, #timeZone {
  font-weight: bold;
  color: rgb(183, 40, 40);
}

#langList {
  margin: 5px 0 15px 0;
}

.langFootnote {
  font-size: 12px;
}

#map {
  width: 38rem;
  height: 25rem;
  padding: 0;
}

h6 {
  font-size: 16px;
  color: rgb(183, 40, 40);
}

.onLocation {
  min-width: 300px;
}

.currency {
  max-width: 400px;
}

.col.s12.form {
  margin: 0;
}

#tLink, #fxRateFootnote {
  color: rgb(183, 40, 40);
  font-size: 12px;
  font-weight: bold;
}

.input-field.col.s12 {
  padding: 0 1rem 0 0;
}

#fxExchanger, #translator {
  padding:1em 0;
  border-bottom: 1.5px solid rgb(141, 156, 168);
}

#fxBtn, #transBtn {
  background-color: rgb(183, 40, 40);
  margin-bottom: 2rem;
}

#fxBtn:hover, #transBtn:hover {
  color: rgb(255, 255, 255);
}

#transLabel {
  color: rgb(141, 156, 168);
  margin-top:.25rem;
}

#fxExchanger:focus, #translator:focus {
  border-bottom: .25px solid rgb(255, 0, 0);
  box-shadow: 0 .25px 0 0 rgb(255, 0, 0);
}

#aCard {
  display: flex;
  flex-direction: row;
  align-items:stretch;
  margin: 20px 0 20px 0;
  border: .5px solid rgb(0, 0, 0);
  padding: 5px 0 5px 10px;
  background-color: rgba(225, 225, 225, 0.6);
}

#aText {
  align-content: space-between;
  margin: 0px 10px 0 0;
}

#aText > span > h6 {
  margin: 5px 0 0 0;
  font-size: 16px;
}

#aText > div, #aDateRange {
  font-size: 13px;
  margin-top: 5px;
}

#aHdLn {
  font-size: 11px;
  /*font-weight: lighter;*/
  margin: 0 0 30px 0;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 2.25rem .25rem 0;
  font-size: 14px;
}

footer > a {
  color: rgb(237, 21, 21);
  text-shadow: 0 0 5px rgb(0, 0, 0);
  letter-spacing: .125rem;
}
